nav {
        background-color: #e3f2fd;
}

.navbar-shadow {
        -webkit-box-shadow: 2px 3px 2px -1px rgba(0,0,0,0.42);
        -moz-box-shadow: 2px 3px 2px -1px rgba(0,0,0,0.42);
        box-shadow: 2px 3px 2px -1px rgba(0,0,0,0.42);
}

footer {
        background-color: rgb(235,235,235);
    box-shadow: 0 50vh 0 50vh rgb(235,235,235);
}
